<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://pryins-bit.github.io/korea-tv" version="0.4.0" viewmodes="maximized">
  <tizen:application id="Pryins.KoreaTV" package="Pryins" required_version="4.0" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <tizen:profile name="tv-samsung" />
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" />
  <access origin="*" subdomains="true" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <name>Korea TV</name>
  <description>Korea TV standalone HLS player</description>
</widget>
